'model_adult_speech.bin' filter=lfs diff=lfs merge=lfs -text
'model_gutenberg.vec' filter=lfs diff=lfs merge=lfs -text
'model_gutenberg.bin' filter=lfs diff=lfs merge=lfs -text
'model_child_books.bin' filter=lfs diff=lfs merge=lfs -text
'model_child_books.vec' filter=lfs diff=lfs merge=lfs -text
'model_adult_speech.vec' filter=lfs diff=lfs merge=lfs -text
'model_childes_both.vec' filter=lfs diff=lfs merge=lfs -text
'model_childes_both.bin' filter=lfs diff=lfs merge=lfs -text
'model_childes_children.vec' filter=lfs diff=lfs merge=lfs -text
'model_childes_children.bin' filter=lfs diff=lfs merge=lfs -text
'model_childes_parents.vec' filter=lfs diff=lfs merge=lfs -text
'model_childes_parents.bin' filter=lfs diff=lfs merge=lfs -text
'model_childrens_TV_combined.vec' filter=lfs diff=lfs merge=lfs -text
'model_childrens_TV_combined.bin' filter=lfs diff=lfs merge=lfs -text
'model_nick.vec' filter=lfs diff=lfs merge=lfs -text
'model_nick.bin' filter=lfs diff=lfs merge=lfs -text
'model_PBS_adults.vec' filter=lfs diff=lfs merge=lfs -text
'model_PBS_adults.bin' filter=lfs diff=lfs merge=lfs -text
'model_PBS_kids.bin' filter=lfs diff=lfs merge=lfs -text
'model_PBS_kids.vec' filter=lfs diff=lfs merge=lfs -text
'model_simply_scripts.vec' filter=lfs diff=lfs merge=lfs -text
'model_simply_scripts.bin' filter=lfs diff=lfs merge=lfs -text
'vectors.db' filter=lfs diff=lfs merge=lfs -text
